<div class="quiz">

  <div class="logo">
    <img src="assets\logo.png" alt="logo-buzzfeed" >
    <h3>{{title}}</h3>
  </div>
  <div  *ngIf=!finished class="questionario">
    <h3>{{questionSelected.question}}</h3>
  </div>
  <div  *ngIf=!finished class="opcoes">
    <button  *ngFor="let option of questionSelected.options; let i = index"
    (click)="playerChoose(option.alias)" class="but-opt">
    {{option.name}}
    </button>
  </div>
  <div *ngIf="finished" class="resposta">
    <h1>O seu resultado é:</h1>
    <p>{{answerSelected}}</p>
  </div>

</div>
